/* main > p {
    text-indent: 5em;       Está é uma forma de conseguir fazer uma linha de paragráfo
} */

/*display: flex;
align-items: center; //centraliza  verticalmente
justify-content: center;  //cetraliza horizontalmente
margin: auto; <> deixa meu conteúdo no meio da tela. */

@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: 'Bebas Neue', cursive; */

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84; 
    --cor3: #2fa866; 
    --cor4: #1a5c37; 
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5)); /* linear para baixo da cor 3 á cor 5. */
    min-height: 150px;
    text-align: center;
    padding-top: 40px;

}
header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.432);
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.432);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.322);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.4s;
    border-radius: 5px;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto; /* Fará com que meu conteúdo fique centralizado. */
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
}

main p {
    margin: 15px 10px; /* É a mesma coisa que > 15px 10px 15px 10px */
    text-align: justify;
    text-indent: 30px; /* Para dar o espaço do Parágrafo, começo de texto. */
    line-height: 1.6em; /* Altura entre as linhas, de forma vertical. */
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    background-color: var(--cor1);
    padding: 2px 5px;
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%; /* Independente do conteúdo, a imagem terá 100% de largura. */
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;   
    position: relative; 
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    color: var(--cor4);
    font-size: 1.2em;
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-weight: normal;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.295);
}

aside > ul {
    list-style-type: '\2714\00A0\00A0'; /* \00A0 é o &nbsp ( espaço sem quebra ). LEMBRANDO QUE ESTE CÓDIGO NÃO É COMPATÍVEL COM TODO NAVEGADOR. */
    list-style-position: inside;
    columns: 2; /* Para dividir a quantidade de colunas */
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}