@charset "UTF-8"; 

body {
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(41, 247, 69);
    background-color: lightblue;
}
h2 {
    color: rgb(206, 173, 131);
}
p {
    text-align: justify;
}